@page {
  margin: 100px 25px;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext,vietnamese");


html {
  line-height: 1;
}

header {
  position: fixed;
  top: 20px;
  left: 30px;
  right: 30px;
  height: 50px;
}

footer {
  position: fixed; 
  bottom: 0px; 
  left: 30px; 
  right: 0px;
  height: 50px; 
}

body {
  font-family: DejaVu Sans !important;
  margin: 120px 30px 60px 30px !important;
  min-height: 1078px;
}

table {
  width: 100%;
  font-size: 12px !important;
  border-collapse: collapse;
  border-spacing: 0;
}

table td.center,
.client-info .date,
.client-info .currency{
  text-align: center;
}

table td.right,
.header .company-info {
  text-align: right;
}

.company-info {
  color: #999;
  font-size: 10px !important;
  line-height: 14px;
  letter-spacing: 0.3px;
}

.client-info {
  margin-top: 20px;
  table-layout: auto;
  width: 100%;
}

.client-info .date{
  background-color: #231F20;
  color: white;
  border-right: 15px solid white;
  width: 160px;
}

.client-info .currency{
  background-color: #fabf8f;
  color: black;
  width: 160px;
}

.client-info .text {
  min-width: 320px;
  overflow: hidden;
  padding: 0px 0px 10px 0px;
}

.client-info p {
  line-height: 15px;
  color: #999;
}

.resume {
  font-size: 11px !important;
  width : 100% !important; 
  table-layout: fixed;
}

.resume tr,
.resume td{
 padding-left: 5px !important;
 padding-right: 5px !important;
}

.resume .number{
  width: 6% !important;
  text-align: center !important;
  overflow: hidden;
}

.resume .desc{
  width: 35% !important;
  text-align: left !important;
  overflow: hidden;
}

.resume .unidad{
  width: 8% !important;
  text-align: center !important;
  overflow: hidden;
}

.resume .qty{
  width: 5% !important;
  text-align: center !important;
  overflow: hidden;
}

.detail td{
  color: #424242;
}

.resume .imponible{
  width: 15% !important;
 /* text-align: center !important;*/
  overflow: hidden;
}

table .total .desc,
table .total2 .desc{
  padding: 8px 0px 8px 100px !important;
}

table .total .unidad1,
table .total2 .unidad2{
  padding: 8px 10px 8px 0px !important;
}

table .total2{
  background: #fabf8f;
  border-top: 3px solid #231F20 !important;
  font-weight: bold;
  font-size: 12px;
}

table .total td,
table .total2 td{
  border-bottom: none !important;
}

table .total2 .border{
  border-top: 3px solid #231F20 !important;
}
/*
.resume .total,
.resume .total2{
  width: 10% !important;
  text-align: center !important;
  overflow: hidden;
}

table .total th ,
table .total2{
  background: #fabf8f;
  border-top: 3px solid #231F20 !important;
  font-weight: bold;
  font-size: 12px;
}

table .total2 th {
  border-top: none !important;
}*/

#terms ul {
  list-style-type: disc;
  padding-left: 12px;
  margin-top: 5px;
  font-size: 12px;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  
  vertical-align: baseline;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

b, strong, .bold {
  font-weight: bold;
}

#invoice-title-number div {
  display: block;
  min-width: 20px;
  line-height: 1em;
}
#invoice-title-number .title {
  font-size: 28px;
  margin-bottom: 10px;
}
#invoice-title-number .number {
  font-size: 15px;
  color: #999;
}

table th, table td {
  word-break: keep-all;
}

#items {
  margin-top: 15px;
}
#items .first-cell, #items table th:first-child, #items table td:first-child {
  width: 27px;
  text-align: right;
}
#items table {
  border-collapse: separate;
  width: 100%;
}
#items table th {
  padding: 8px 10px;
  text-align: right;
  background: #231F20;
  color: white;
}
#items table th:nth-child(2) {
  width: 30%;
  text-align: left;
}
#items table th:last-child {
  text-align: right;
}
#items table td {
  padding: 5px 10px;
  text-align: right;
  border-bottom: 1px solid #c9c9c9;
}
#items table td:first-child {
  text-align: left;
}
#items table td:nth-child(2) {
  text-align: left;
}

#terms {
  margin: 30px 0 20px 0;
  page-break-inside: avoid;
}
#terms > span {
  display: inline-block;
  min-width: 20px;
  font-weight: bold;
  font-size: 12px;
}
#terms > div {
  margin-top: 5px;
  min-height: 50px;
  min-width: 50px;
}

.heading {
  background-color: #fabf8f;
}

.terms {
  list-style: inside;
}

.terms li{
  margin: 5px;
}

.desc {
  margin-bottom: 10px;
  font-size: 13px;
}
.title1 {
  color: #f8762b;
}
.title2 {
  color: #f8762b;
  font-weight: 400;
}